<html>
  <head>
    <title>Personal Library</title>
    <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">    
  </head>
  <body>
    <header>
      <h1>Personal Library</h1>
      <h2>(Coded with Node, Express, MongoDB, Mongoose, Mocha and Chai)</h2>
    </header>
    <br>
    <div id ='sampleposting'>
      <h3 style="text-align: left">Test API responses</h3>
      <form action="/api/books" method="post" class="border">
        <h4>Test post to /api/books</h4>
        <label for="title" >Book Title</label>
        <input type="text" id="title" name="title" value=""><br>
        <input type="submit" value="Submit">
      </form>
      <form action="" method="post" id="commentTest" class="border">
        <h4>Test post to /api/books/{bookid}</h4>
        <label for="idinputtest">BookId to comment on</label>
        <input type="text" name="id" value="" id="idinputtest"><br>
        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment" value=""><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    <hr style='margin: 50px'>
    <div id='sampleui'>
      <h3 style="text-align: left">Sample Front-End</h3>
      <form id="newBookForm" class="border">
        <label for="bookTitleToAdd">New Book Title</label>
        <input type="text" id="bookTitleToAdd" name="title" placeholder="Moby Dick" style="width: 295px">
        <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
      </form>
      <div id='display'></div>
      <div id='bookDetail' class='border'>
        <p id='detailTitle'>Select a book to see its details and comments</p>
        <ol id='detailComments'></ol>
      </div>
      <button id='deleteAllBooks'>Delete all books...</button>
    </div>
    <hr style='margin: 50px'>
    <div>
      <article class="base-examples">
        <section>
          <h3>Input Examples (Method --- Query --- Content-Type --- Body) to <code>/api/books</code>:</h3>
          <ol>
            <li><code>POST --- /// --- application/x-www-form-urlencoded or application/json --- "title": "Example Book Title"</code></li>
            <li><code>POST --- /// --- application/x-www-form-urlencoded or application/json --- "title": ""</code></li>
            <br />
            <li><code>GET --- /// --- /// --- ///</code></li>
            <br />
            <li><code>DELETE --- /// --- /// --- ///</code><strong>(Warning: total deletion of book documents in the database.)</strong></li>
          </ol>
        </section>
        <section>
          <h3>Output Examples (Status --- Content-Type --- Body) from <code>/api/books</code>:</h3>
          <ol>
            <li><code>201 Created --- application/json --- {"title":"Example Book Title","_id":<em>book document unique identifier (24-character hexadecimal string)</em>}</code></li>
            <li><code>200 OK (Properly: 422 Unprocessable Content) --- text/html --- "missing required field title"</code></li>
            <br />
            <li><code>200 OK --- application/json --- [<em>alphabetically previous, by "title" field, book documents</em>,{"_id":<em>book document unique identifier (24-character hexadecimal string)</em>,"title":"Example Book Title","commentcount":0},<em>alphabetically next, by "title" field, book documents</em>]</code></li>
            <br />
            <li><code>200 OK --- text/html --- "complete delete successful"</code></li>
          </ol>
        </section>
      </article>
      <article class="id-examples">
        <section>
          <h3>Input Examples (Method --- Path Parameter --- Query --- Content-Type --- Body) to <code>/api/books/{book-id}</code>:</h3>
          <ol>
            <li><code>POST --- book-id = <em>"_id" field value of example book document</em> (true identifier) --- /// --- application/x-www-form-urlencoded or application/json --- "comment": "Example book comment."</code></li>
            <li><code>POST --- book-id = <em>"_id" field value of example book document</em> (true identifier) --- /// --- application/x-www-form-urlencoded or application/json --- "comment": ""</code></li>
            <li><code>POST --- book-id = ffffffffffffffffffffffff (fake identifier) --- /// --- application/x-www-form-urlencoded or application/json --- "comment": "Example book comment."</code></li>
            <li><code>POST --- book-id = ffffffffffffffffffffffff (fake identifier) --- /// --- application/x-www-form-urlencoded or application/json --- "comment": ""</code></li>
            <li><code>POST --- book-id = fff (invalid identifier) --- /// --- application/x-www-form-urlencoded or application/json --- "comment": "Example book comment."</code></li>
            <li><code>POST --- book-id = fff (invalid identifier) --- /// --- application/x-www-form-urlencoded or application/json --- "comment": ""</code></li>
            <br />      
            <li><code>GET --- book-id = <em>"_id" field value of example book document</em> (true identifier) --- /// --- /// --- ///</code></li>
            <li><code>GET --- book-id = ffffffffffffffffffffffff (fake identifier) --- /// --- /// --- ///</code></li>
            <li><code>GET --- book-id = fff (invalid identifier) --- /// --- /// --- ///</code></li>
            <br />
            <li><code>DELETE --- book-id = <em>"_id" field value of example book document</em> (true identifier) --- /// --- /// --- ///</code></li>
            <li><code>DELETE --- book-id = ffffffffffffffffffffffff (fake identifier) --- /// --- /// --- ///</code></li>
            <li><code>DELETE --- book-id = fff (invalid identifier) --- /// --- /// --- ///</code></li>      
          </ol>
        </section>
        <section>
          <h3>Output Examples (Status --- Content-Type --- Body) from <code>/api/books/{book-id}</code>:</h3>
          <ol>
            <li><code>200 OK --- application/json --- {"_id":<em>book document unique identifier (24-character hexadecimal string)</em>,"title":"Example Book Title","comments":["Example book comment."]}</code></li>
            <li><code>200 OK (Properly: 422 Unprocessable Content) --- text/html --- "missing required field comment"</code></li>
            <li><code>200 OK (Properly: 404 Not Found) --- text/html --- "no book exists"</code></li>
            <li><code>200 OK (Properly: 404 Not Found) --- text/html --- "no book exists"</code></li>
            <li><code>400 Bad Request --- application/json --- {"error":"An error occurred while processing your request: the book identifier must be a 24-character hexadecimal string."}</code></li>
            <li><code>400 Bad Request --- application/json --- {"error":"An error occurred while processing your request: the book identifier must be a 24-character hexadecimal string."}</code></li>
            <br />
            <li><code>200 OK --- application/json --- {"_id":<em>book document unique identifier (24-character hexadecimal string)</em>,"title":"Example Book Title","comments":["Example book comment."]}</code></li>
            <li><code>200 OK (Properly: 404 Not Found) --- text/html --- "no book exists"</code></li>
            <li><code>400 Bad Request --- application/json --- {"error":"An error occurred while processing your request: the book identifier must be a 24-character hexadecimal string."}</code></li>
            <br />
            <li><code>200 OK --- text/html --- "delete successful"</code></li>
            <li><code>200 OK (Properly: 404 Not Found) --- text/html --- "no book exists"</code></li>
            <li><code>400 Bad Request --- application/json --- {"error":"An error occurred while processing your request: the book identifier must be a 24-character hexadecimal string."}</code></li>
          </ol>
        </section>
      </article>
    </div>
    <footer>
      <p>
        By <a href="https://github.com/fridrojo">fridrojo</a> 
      </p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/public/client.js"></script>
    <script>
      /*
      *  For #sampleposting to update form action url to test inputs book id
      */
      $(function() {
        $('#commentTest').submit(function(){
          let  id = $('#idinputtest').val();
          $(this).attr('action', "/api/books/" + id);
        });
      });
    </script>
  </body>
</html>
